
.alert {
  padding: 15px;
  margin-bottom: 23px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #4caf50;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #3d8b40;
}
.alert-info {
  background-color: #b5f1f7;
  border-color: #0080ff;
  color: #0631f9;
}
.alert-info hr {
  border-top-color: #0080ff;
}
.alert-info .alert-link {
  color: #0000ff;
}
.alert-warning {
  background-color: #ffe0b2;
  border-color: #ffc599;
  color: #ff9800;
}
.alert-warning hr {
  border-top-color: #ffb67f;
}
.alert-warning .alert-link {
  color: #cc7a00;
}
.alert-danger {
  background-color: #f9bdbb;
  border-color: #f7a4af;
  color: #e51c23;
}
.alert-danger hr {
  border-top-color: #f58c9a;
}
.alert-danger .alert-link {
  color: #b9151b;
}