.btn-file {
	height: 38px;
	position: relative;
	overflow: hidden;
	color: #ffffff;
	background-color: #5594fd;
	border-color: transparent;
	padding: 8px 20px;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.btn-file:hover {
	background: #666;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: #800000;
	cursor: inherit;
	display: block;
}