body {
	margin-top: 23px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
}

div.left-menu {
	width: 13%;
    height: 100%;
    position: fixed;
	overflow-y:auto;
}

div.right-content {
	width: 87%;
    height: auto;
    position: absolute;
    right: 0;
}

.nav > li > a {
	color: #000000;
}

