.subTitle-qnrCooperateWay {
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	color: #666;
	border-bottom: #0a5f9a 1px dotted;
	padding: 0 0 20px 24px;
	margin-bottom: 20px;
	display: block;
	position: relative;
}